.DS_Store
.sass-cache
.idea
content
public
cypress/screenshots
mochawesome-report
package-lock.json
videos
results
bower_components
node_modules
npm-debug.log

tmp
Gemfile.lock

test/screenshots

*.gitattributes
/package-lock.json
